.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position:relative;
  
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  height: 5vh;
  width: 100vw;
  background-color: #282c34;
  /* margin-top: -47px; */
  z-index: 500;
}

.gameImage {
  width: 100px;
  height: 70px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-right: 5px;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  height: 90vh;
  width: 100vw
}

.gamesListContainer {
  height: 85vh;
  width: 74%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 0;
}

.gamesList {
  display: flex;
  flex-wrap: wrap;
}

.tile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: solid rgb(78, 78, 78) 2px;
  box-shadow: 0 0 10px grey;
}

.gameTile {
  height: 75px;
  width: 40%;
  margin: 10px;
  margin-left: 60px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  border-radius: 5px;
 
}

.shelf {
  width: 550px;
  height: 30.3%;
  margin: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.gamesInShelf {
  display: flex;
  justify-content: center;
  margin: 10px;
  flex-wrap: wrap;
}

.shelfGameTile {
  margin: 10px;
  width: 350px;
  height: 100px;
  border-radius: 5px;
}

.button {
  display:inline-block;
  padding:0.02em .3em;
  border:0.1em solid black;
  margin:0 0.1em 0.1em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color: black;
  text-align:center;
  transition: all 0.2s;
  background-color: #FFFFFF;
}

.button:hover{
  color:#FFFFFF;
  background-color:#000000;
  border:0.1em solid #FFFFFF;
}


h2 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px 15px 15px 15px;
}

.searchButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #60a3bc;
  padding: 3px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  margin-left: 5px;
  outline: none;
}

.searchBarContainer{
  height: 5vh;
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

.searchButton:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}
