.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.gameImage {
  width: 100px;
  height: 200px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  
}

.mainContainer {
  display: flex;
  flex-direction: row;
  height: 90vh;
  width: 100vw
}

.gamesList {
  height: 90vh;
  width: 70%;
  overflow-y: scroll;
}

.gameTile {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.button {
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 100;
  padding: 8px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  font-size: x-small;
}

.button:hover {
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
  }